<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054015124035-ul925cvc70rqq5gs4vfd4rb7d2e8jgn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054015124035-ul925cvc70rqq5gs4vfd4rb7d2e8jgn3</string>
	<key>API_KEY</key>
	<string>AIzaSyBQOCrpxrAI4gDUlE2xfii7X34on6h7VJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1054015124035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tictac.wrteam.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-toe-7d889</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-toe-7d889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054015124035:ios:76201f606fdb0071931af6</string>
</dict>
</plist>